<div class="file-list-block">
  <ul class="file-list">
    <li class="file-item" data-ng-repeat="file in process_data.files">
      <strong><i class="icon-file"></i> {{ file.name }}</strong>
      <ul class="descriptor-list">
        <li class="descriptor-item" data-ng-repeat="descriptor in file.descriptors">
          <strong><span class="id">{{ descriptor.id }}: </span></strong>
          <i data-ng-class="{true:'icon-search', false:'icon-pencil'}[descriptor.read_only]" ></i>
          <!--<span class="flags">Flags: {{ descriptor.flags }}</span>-->
          <span class="size">Size: {{ descriptor.size }}</span>
          <span class="pos">Position: {{ descriptor.pos }}</span>
        </li>
      </ul>
    </li>
  </ul>
  <!--<pre>-->
    <!--{{  process_data.files | json }}-->
  <!--</pre>-->
</div>