<div class="file-list-block">
  <ul class="file-list">
    <li class="file-item" data-ng-repeat="file in process_data.files">
      <strong><i class="icon-file"></i> {{ file.name }}</strong> ({{  file.descriptors[0].size | humanReadableBytes }})
      <ul class="descriptor-list">
        <li class="descriptor-item" data-ng-class="{true:'is_open', false:'is_closed'}[file.is_open]" data-ng-repeat="descriptor in file.descriptors">
          <file-position data-ng-model="descriptor"></file-position> <!-- Open: {{  file.is_open }} -->
        </li>
      </ul>
    </li>
  </ul>
  <!--<pre>-->
    <!--{{  process_data.files | json }}-->
  <!--</pre>-->
</div>