.cpu-chart {
  width: 100%;
  height: 300px;

  .line-chart {
    background: #EFEFEF;
  }

  .chart-line {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
    border: 1px solid #F00;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis line {
    stroke: lightgrey;
  }

  .x.axis .minor {
    stroke-opacity: .5;
  }

  .x.axis path {
    display: none;
  }

  .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
  }

}