@import "../lib/bootstrap/less/bootstrap.less";
@import "cpu-chart.less";

.process-tree {
  list-style: none;
  margin-left: 0;

  .process-block {
    .clearfix();

    .process-data {
      .clearfix();
      .border-radius(5px);
      width: 92%;

      padding-left: 4%;
      padding-right: 4%;
      margin-bottom: 5px;

      .pid {
        width: 70%;
        float: left;
      }
      .cpu {
        width: 30%;
        float: right;
        text-align: right;
        font-size: 80%;
      }

    }

    .running-true {
      color: #03394A;
      background-color: #94D7EF;
    }

    .running-false {
      background-color: #EFEFEF;
    }

    .process-children {
      ul {
        margin-left: 10px;
        margin-bottom: 0;
      }

      li {
        margin-bottom: .1em;
        list-style: none;

        .cpu-percent {

        }
      }

    }
  }
}

