@import "../lib/bootstrap/less/bootstrap.less";

body {
  font-family: "Helvetica, Arial";
  color: #333;
}

.ng-tree {
  list-style: none;
  margin-left: 0;

  ul {
    margin-left: 10px !important;
  }

  li {
    margin-bottom: .1em;
    list-style: none;

    .cpu-percent {
      float: left;
      width: 35px;
      .clearfix();

    }
  }

  li.running-true {
    color: #0000FF;
  }

  li.running-false {
    color: #F00;
  }
}

